@charset "utf-8";

body {
	margin: 0px;
	background-color: #CCCCCC;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active, body .ui-panelmenu .ui-panelmenu-header.ui-state-active:hover,
	body .ui-panelmenu .ui-panelmenu-header.ui-state-active.ui-menuitem-outline
	{
	/* Menu lateral e quando clica nele */
	background-color: #660000;
	border: 1px solid #660000;
}

body .pi {
	font-size: 7.2rem;
}

body .ui-panel .ui-panel-content {
	border: 1px solid #c8c8c8;
	background-color: #fff;
	color: #333;
	padding: .571em 1em;
	border-top: 0 none;
	line-height: 1.5;
	height: 14.4em;
	max-width: 256px;
}

body .ui-datagrid-column {
	padding: 0px;
	min-width: 14.2em;
}

body .ui-button {
	background-color: #660000;
	border: 1px solid #212121;
}

table {
	width: 100%
}

.cards {
	text-align: center;
	max-width: 256px;
}

.cards div>div {
	place-content: flex-end;
	text-align: left;
	line-height: 0.8;
}

.painelLogin {
	margin: 0px;
	background-color: #CCCCCC;
}

.panelGridCenter td, .panelGridCenter tr {
	text-align: center;
	border-width: initial !important;
	border-style: none !important;
	border-color: initial !important;
	border-image: initial !important;
}

.fontNomeEdglechurrascaria {
	font-family: Sans-serif;
	font-weight: bold;
	font-size: 36px;
}

#barra-superior {
	background-color: #990000
}

/*peguei esse padrao a seguir no site do prime faces*/
body .ui-tabs {
	padding: 0;
	position: static;
}

body .ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
	background: #ffffff;
	display: -ms-flexbox;
	display: flex;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header {
	list-style: none;
	padding: 0;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
	float: none;
	padding: 1rem;
	background: #ffffff;
	color: #6c757d;
	margin: 0;
	cursor: pointer;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header a {
	color: #6c757d;
	padding: 0;
	font-weight: 700;
	display: block;
	line-height: 1;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header .ui-icon {
	position: static;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header .ui-icon.ui-icon-close {
	margin: 0;
	float: none;
	font-family: 'primeicons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0 !important;
	background-image: none !important;
	margin-left: 0.5rem;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header .ui-icon.ui-icon-close:before
	{
	content: "";
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-hover {
	background: #ffffff;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-hover a {
	color: #6c757d;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-hover .ui-icon {
	color: #6c757d;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active {
	background: #ffffff;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
	color: #2196F3;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active .ui-icon {
	color: #2196F3;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-tabs-outline {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0.2rem #a6d5fa;
}

body .ui-tabs .ui-tabs-panels {
	border: 0 none;
	background: #ffffff;
	color: #495057;
	padding: 0;
	margin: 0;
	position: static;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

body .ui-tabs .ui-tabs-panels .ui-tabs-panel {
	padding: 1rem;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav {
	margin: 0;
	padding: 0;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav:before {
	content: "";
	position: absolute;
	display: block;
	border-bottom: 2px solid #dee2e6;
	left: 0;
	bottom: 0;
	width: 100%;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-header {
	top: 0;
	border-bottom: 2px solid #dee2e6;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-header.ui-state-hover
	{
	border-color: #adb5bd;
}

body .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-header.ui-state-active
	{
	border-color: #2196F3;
}

body .ui-tabs.ui-tabs-top .ui-tabs-panels {
	border-width: 1px 0 0 0;
}

body .ui-tabs.ui-tabs-bottom .ui-tabs-nav {
	margin: 0;
	padding: 0;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

body .ui-tabs.ui-tabs-bottom .ui-tabs-nav:before {
	content: "";
	position: absolute;
	display: block;
	border-top: 2px solid #dee2e6;
	left: 0;
	top: 0;
	width: 100%;
}

body .ui-tabs.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-header {
	top: 0;
	border-top: 2px solid #dee2e6;
}

body .ui-tabs.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-header.ui-state-hover
	{
	border-color: #adb5bd;
}

body .ui-tabs.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-header.ui-state-active
	{
	border-color: #2196F3;
}

body .ui-tabs.ui-tabs-bottom .ui-tabs-panels {
	border-width: 1px 0 0 0;
}

body .ui-tabs.ui-tabs-left .ui-tabs-nav, body .ui-tabs.ui-tabs-right .ui-tabs-nav
	{
	width: 25%;
	margin: 0;
	padding: 0;
	height: auto;
	-ms-flex-direction: column;
	flex-direction: column;
}

body .ui-tabs.ui-tabs-left .ui-tabs-nav li.ui-tabs-header, body .ui-tabs.ui-tabs-right .ui-tabs-nav li.ui-tabs-header
	{
	width: 100%;
}

body .ui-tabs.ui-tabs-left .ui-tabs-panels, body .ui-tabs.ui-tabs-right .ui-tabs-panels
	{
	width: 75%;
}

body .ui-tabs.ui-tabs-right .ui-tabs-nav {
	margin: 0;
	padding: 0;
	border-left: 2px solid #dee2e6;
}

body .ui-tabs.ui-tabs-right .ui-tabs-nav li.ui-tabs-header {
	top: 0;
	border-left: 2px solid #dee2e6;
	left: -2px;
}

body .ui-tabs.ui-tabs-right .ui-tabs-nav li.ui-tabs-header.ui-state-hover
	{
	border-color: #adb5bd;
}

body .ui-tabs.ui-tabs-right .ui-tabs-nav li.ui-tabs-header.ui-state-active
	{
	border-color: #2196F3;
}

body .ui-tabs.ui-tabs-right .ui-tabs-panels {
	border-width: 1px 0 0 0;
}

body .ui-tabs.ui-tabs-left .ui-tabs-nav {
	margin: 0;
	padding: 0;
	right: -2px;
}

body .ui-tabs.ui-tabs-left .ui-tabs-nav li.ui-tabs-header {
	top: 0;
	border-right: 2px solid #dee2e6;
	margin-right: -2px;
}

body .ui-tabs.ui-tabs-left .ui-tabs-nav li.ui-tabs-header.ui-state-hover
	{
	border-color: #adb5bd;
}

body .ui-tabs.ui-tabs-left .ui-tabs-nav li.ui-tabs-header.ui-state-active
	{
	border-color: #2196F3;
}

body .ui-tabs.ui-tabs-left .ui-tabs-panels {
	border-width: 1px 0 0 0;
}

body .ui-tabs .ui-tabs-navscroller {
	position: relative;
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn {
	border: 0 none;
	background: #ffffff;
	color: #6c757d;
	outline: 0 none;
	z-index: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-tabs-navscroller-btn-left
	{
	left: 0;
	height: 100%;
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-tabs-navscroller-btn-left .ui-icon
	{
	margin: 0;
	font-family: 'primeicons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0 !important;
	background-image: none !important;
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-tabs-navscroller-btn-left .ui-icon:before
	{
	content: "";
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-tabs-navscroller-btn-right
	{
	right: 0;
	height: 100%;
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-tabs-navscroller-btn-right .ui-icon
	{
	margin: 0;
	font-family: 'primeicons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0 !important;
	background-image: none !important;
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-tabs-navscroller-btn-right .ui-icon:before
	{
	content: "";
}

body .ui-tabs .ui-tabs-navscroller .ui-tabs-navscroller-btn.ui-state-hover
	{
	background: #e9ecef;
	color: #495057;
}