@charset "utf-8";

body {
	margin: 0px;
	background-color: #CCCCCC;
}

body .pi {
	font-size: 7.2rem;
}

body .ui-panel .ui-panel-content {
	border: 1px solid #c8c8c8;
	background-color: #fff;
	color: #333;
	padding: .571em 1em;
	border-top: 0 none;
	line-height: 1.5;
	height: 14.4em;
	max-width: 256px;
}

body .ui-datagrid-column {
	padding: 0px;
	min-width: 14.2em;
}

body .ui-button {
	background-color: #660000;
	border: 1px solid #212121;
}

table {
	width: 100%
}

.cards {
	text-align: center;
	max-width: 256px;
}

.painelLogin {
	margin: 0px;
	background-color: #CCCCCC;
	
}

.panelGridCenter td, .panelGridCenter tr {
	text-align: center;
	border-width: initial !important;
	border-style: none !important;
	border-color: initial !important;
	border-image: initial !important;
}
.fontNomeEdglechurrascaria{
	font-family: Sans-serif  ; font-weight: bold; font-size: 36px;
}

#barra-superior {
	background-color: #990000
}
